<% if logged_in? %>
  <div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'users/search' %> 
      <%= render 'shared/feed' %>
    </div>
    </div>
 
  </div>
<% else %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container">
    <h1 class="huwari"><b>D2D</b> </h1>
    <p class="huwari">あなたの積み上げた時間を記録するアプリです。</p>
    <p class="huwari">学習や趣味に費やした時間を記録し</p>
    <p class="huwari">１年分、１ヶ月分、１週間分など</p>
    <p class="huwari">期間ごとに時間を計測することができます</p>
  </div>
  <%= link_to "始める", signup_path, class: "btn-box" %>
</div>
<section class="service2 container">
  <h2>D2Dだから続けられる<br>日々の積み上げ</h2>
  <div class="service2__container">
    <div class="service2__container__item1">
      <h3>計算しなくてOK</h3>
      <p>普段のメモに時間を一緒に書くだけで</p>
      <p>自動で計測し、見やすいグラフにしてくれます</p>
    </div>
    <div class="service2__container__item2">
      <h3>仲間と一緒に</h3>
      <p>仲間の記録を見て</p>
      <p>学習の励みにしよう</p>
    </div>
    <div class="service2__container__item3">
      <h3>日記代わりにも</h3>
      <p>ログ機能があるので</p>
      <p>どんなことを感じたのか</p>
      <p>どんなことを学んだのか記録できます</p>
    </div>
  </div>
</section>
<% end %>


<script>
    $(function(){
    $(window).scroll(function (){
        $('.huwari').each(function(){
            var targetElement = $(this).offset().top;
            var scroll = $(window).scrollTop();
            var windowHeight = $(window).height();
            if (scroll > targetElement - windowHeight + 0){
                $(this).css('opacity','1');
                $(this).css('transform','translateY(0)');
            }
        });
    });
});
</script>