<h1>Tasks#new</h1>
<% provide(:title, '新規todo作成') %>
<div class="container signup-container">
  <div class="row">
    <div class="col">
      <div class="signup-logo-img">
      </div>
      <h1 class="signup-title">新規todo作成</h1>
      <%= form_with(model: @task,local: true) do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
        <div class="form-group">
          <%= select :status, :name, Task.statuses.keys.to_a, include_blank: true %>
        </div>
        <div class="form-group">
          <%= form.text_field :content, class: 'form-control', placeholder: "内容" %>
        </div>
        <div class="form-group">
          <%= form.date_field	 :target_at, class: 'form-control', placeholder: "目標終了日" %>
        </div>
        <div class="form-group">
          <%= form.date_field	 :completed_at, class: 'form-control', placeholder: "開始日〜実終了日", value: Time.now.strftime("%Y-%m-%d") %>
        </div>
        <div class="form-group">
          <%= form.submit "新規todo作成", class: "btn btn-info btn-lg form-submit" %>
        </div>
        <% end %>

        <p><%= link_to '一覧に戻る', tasks_url %></p>
    </div>
  </div>
</div>