<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>さんの記録
      </h1>
      <%= line_chart @data.group_by_week(:created_at).sum(:time) %>
      <%= line_chart @data.group_by_month(:created_at).sum(:time) %>
      <%# <%= area_chart @data.group_by_day(:created_at).sum(:time), width: "200px", height: "200px" %> %>
     
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= render 'users/search' %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>