<h1 class="log-title col-2">Logs</h1>
<% if @user.microposts.any? %>
  <div class="container">
    <ol class="microposts">
    <% @microposts.each do |micropost| %>
        <li id ="micropost-<%= micropost.id %>">
          <span class="row log-list">
            <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
              <span class="log-timestamp"><%= time_ago_in_words(micropost.created_at) %>前</span>
            </span>
            <span class="col-md-10 col-log-memos">
              <div class="log-time-and-edit">
                <div class="row">
                  <span class="log-time col-3"><%= micropost.time %>分</span>
                  <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(micropost.created_at) %>前</span>
                  <span class="log-edit col-2"><%= link_to image_tag('edit_02.png', class: "log-edit-image"), edit_micropost_path(micropost.id) %></span>
                  <%# <%= link_to "編集", edit_micropost_path(micropost.id) %>
                </div>
              </div>
              <span class="log-memo"><%= simple_format(h(micropost.content)) %></span>
              <span class="log-picture"><%= image_tag micropost.picture.url if micropost.picture? %></span>
              <br>
              <span>タグ：</span>
              <% micropost.tag_list.each do |tag| %>
              <span class="badge badge-primary mr-1 p-2">
              <%= link_to tag, microposts_path(tag_name: tag), class: "text-white" %>
              </span>
                <% end %>
                <br>
              </span>
          </span>
        </li>
    <% end %>
    </ol>
  </div>
<% else %>
  <span>まだ投稿がありません</span>
<% end %>